<header>
    <div id="toggle">
        <i class="fa-solid fa-bars" style="color: #5046e5;"></i>
    </div>
    <div id="main_menu">
        <ul>
            <li><a href="../login-page/login.html">1. Login</a></li>
            <li><a href="../register-page/register.html">2. Register</a></li>
            <li><a href="../forgotpass-page/forgot-pass.html">3. Forgot password</a></li>
            <li><a href="../reset-pass-page/reset-pass.html">4. Reset password</a></li>
            <li><a href="../success-page/success.html">5. Success</a></li>
        </ul>
    </div>

</header>