<header>
    <div id="toggle">
        <i class="fa-solid fa-bars" style="color: #5046e5;"></i>
    </div>
    <div id="main_menu">
        <ul>
            <li><a href="../LoginPage/login.html">1. Login</a></li>
            <li><a href="../RegisterPage/register.html">2. Register</a></li>
            <li><a href="../ForgotPassPage/forgotPass.html">3. Forgot password</a></li>
            <li><a href="../ResetPassPage/resetPass.html">4. Reset password</a></li>
            <li><a href="../SuccessPage/Success.html">5. Success</a></li>
        </ul>
    </div>

</header>