.btn_signin_box {
    display: flex;
    gap: 10px;

}

.btn_signin_box img {
    width: 30px;
    height: 30px;
}

.btn_gg,
.btn_git {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-color: #E5E7EB;
    border-radius: 10px;
    border-style: double;
}

.form_item.sign_up {
    text-align: center;
}

.separate {
    display: flex;
    align-items: center;
    gap: 16px;
}

.separate hr {
    flex: 1;
    border: none;
    border-top: 1px solid #e5e7eb;
}

.separate span {
    color: #6b7280;
    font-size: 14px;
    white-space: nowrap;
}

.input_box.error input {
    border-color: #ff0000;
}

.input_box .error {
    color: #ff0000;
}