* {
    margin: 0;
}

body {
    background-color: #F5F5F5;
    margin: auto;
}

header {
    background-color: white;
    height: 50px;
    align-content: center;
}

main {
    padding: 40px 40px;
    justify-items: center;
}

h2 {
    margin-bottom: 10px;
}

header li {
    position: relative;
    float: left;
    padding: 0;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #6B7280;
    padding: 10px 10px;
    border-radius: 20px;
}

header li :hover {
    background-color: #5046E5;
    color: white;
}

.main_content {
    display: flex;
    justify-content: center;
    width: fit-content;

}

.content_left {
    background-image: linear-gradient(to right, #6C63FF, #4F46E5, #7C6AF7);
    color: white;
    padding: 50px 50px;
    width: 40%;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.content_left .img_circle {
    width: 50px;
    height: 90px;
}

.content_left p {
    color: rgba(255, 255, 255, .6);
}

.content_left ul {
    padding: 20px;
    margin-top: 50%;
}

.content_left ul li {
    list-style: none;
    color: rgba(255, 255, 255, .6);
}

.content_left .intro {
    margin-top: 50%;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.big {
    width: 300px;
    height: 300px;
    top: 30px;
    right: -80px;
    background: rgba(255, 255, 255, .06);
}

.small {
    width: 170px;
    height: 170px;
    top: 100px;
    right: 50px;
    background: rgba(255, 255, 255, .06);
}

.content_right {
    background-color: white;
    width: 60%;
    padding: 30px 30px;
    align-content: center;
    justify-items: center;
    border-radius: 0px 10px 10px 0px;
}

.content_right p {
    color: #6B7280;
}

.form_content {
    max-width: 300px;
}

.form_item {
    margin-top: 30px;
}

.form_item.input_box input {
    width: 300px;
    height: 25px;
    padding-left: 5px;
    border-color: #E5E7EB;
    border-radius: 10px;
    border-style: double;
    margin-top: 10px;
}

.form_item a {
    text-decoration: none;
    color: #5046E5;
}

.form_item.checkbox {
    display: flex;
    justify-content: space-between;
}

.form_item.btn .btn_signin {
    width: 300px;
    height: 25px;
    background-color: #5046E5;
    border: none;
    border-radius: 10px;
    color: white;
}

.form_content img {
    width: 50px;
    height: 50px;
}